<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Unedic | {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul>
            <li>
                <a href="{{ path('student_list') }}">
                    Liste des étudiants
                </a>
            </li>
        </ul>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
